<h1>
<%=@article.title%>

</h1>

<p>
<%=@article.contenidorichtext%>
</p>


<div>


<%=link_to "eliminar" , @article, method: :delete %>



<%=link_to "eliminarlo"  %>
<%= link_to "actualizar este"  %>

</div>